/* Permet de bien définir la zone du formulaire */
.compte-container-main-page {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.compte-container-main-page label {
    display: block;
    margin-bottom: 5px !important;
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
}


.compte-container-main-page input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px !important;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container-page-modif-compte label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
}

.form-container-page-modif-compte input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group-info-compte {
    display: flex;
    justify-content: space-between;
}

.left-column-info-compte > input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px !important;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.right-column-info-compte > input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px !important;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.left-column-info-compte > label{
    display: block;
    margin-bottom: 5px !important;
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
}

.left-column-info-compte > label{
    display: block;
    margin-bottom: 5px !important;
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
}

/* Sert à espacer les éléments à l'intérieur du formulaire */
.compte-details-section {
    display: flex;
    justify-content: space-between;
}


.input-wrapper-info-compte {
    flex: 1;
    margin-right: 30px;
}

.input-wrapper-info-compte:last-child {
    margin-right: 0;
}

.compte-titre-photo-profil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compte-photo-profil{
    border-radius:50%;
    border: solid 2px;
    border-color: lightgray;
}

.info-compte-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container-page-modif-compte label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
}

.form-container-page-modif-compte input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group-info-compte {
    display: flex;
    justify-content: space-between;
}


.boutonA2F{
    color: white;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.close-btn {
    cursor: pointer;
    margin-top: 10px;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.confirm-btn {
    cursor: pointer;
    margin-top: 10px;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

#password-popup{
    width: 80%;
}

#password2-popup{
    width: 80%;
}

#titre-popup{
    margin-bottom: 15px;
}

@media (min-width: 800px){

    .container-page-info-compte {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 20px;
    }

    .compte-titre-photo-profil {
        padding: 20px;
    }

    /* Sert à définir une largeur pour les colonnes du formulaire */
    .left-column-info-compte, .right-column-info-compte {
        width: 44%;
    }

    /* Les styles ci-dessous correspondent au éléments du formulaire qui se trouvent sur une même ligne : Code postal et ville par exemple */
    .row-info-compte {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }


    .bouton-modif-avis {
        color: white;
        padding: 15px;
        border: none;
        width: 100%;
        font-size: 18px;
        cursor: pointer;
        border-radius: 20px;
        margin-top: 20px;
        transition: background-color 0.3s ease, color 0.3s ease; /* Transition fluide */
        text-decoration: none;
        text-align: center;
        width: 50%;
    }

    .info-compte-bouton-deconnecter{
        display: none;
    }

    .bouton-envoi-formulaire-modif-compte {
        color: white;
        padding: 15px;
        border: none;
        width: 100%;
        font-size: 18px;
        cursor: pointer;
        border-radius: 20px;
        margin-top: 20px;
        transition: background-color 0.3s ease, color 0.3s ease; /* Transition fluide */
    }

    .form-container-page-modif-compte {
        max-width: 90%; /* Réduction supplémentaire sur petits écrans */
        width: auto; /* Annulation de la largeur fixe */
        padding: 15px;
        box-shadow: none;
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

}

@media (max-width: 800px){

    .container-page-info-compte {
        width: 100%;
        padding: 0px;
    }

    .compte-titre-photo-profil {
        color: black;
    }

    .compte-container-main-page {
        max-width: 90%; /* Réduction supplémentaire sur petits écrans */
        width: auto; /* Annulation de la largeur fixe */
        padding: 15px;
        box-shadow: none;
    }

    .compte-details-section {
        flex-direction: column; /* Forme une seule colonne */
    }

    .compte-details-section input[type="text"],
    .compte-details-section input[type="email"],
    .compte-details-section input[type="tel"],
    .compte-details-section input[type="password"] {
    width: 95%;
    padding: 10px;
    border: none;               /* Remove all borders */
    border-bottom: 1px solid #ccc; /* Only the bottom border */
    border-radius: 0;
    }

    .row-info-compte {
        flex-direction: column;
        gap: 0; /* Supprimer les écarts horizontaux */
    }

    .input-wrapper-info-compte {
        width: 100%;
        margin-right: 0;
    }

    .left-column-info-compte, .right-column-info-compte {
        width: 95%; /* Colonne unique */
    }

    .bouton-envoi-formulaire-modif-compte {
        background-color: black;
        color: white;
        height: 40px;
        margin: 10px;
        margin-left: 0;
        width: 100%;
        border-radius: 5px;
    }

    .bouton-modif-avis {
        background-color: black;
        color: white;
        height: 40px;
        margin: 10px;
        width: 100%;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
    }

    .bouton-modif-avis{
        margin-bottom: 30px;
    }

    .info-compte-bouton-deconnecter{
        background-color: black;
        color: white;
        height: 40px;
        margin: 10px;
        width: 100%;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
    }

    .form-group-info-compte {
        flex-direction: column; /* Forme une seule colonne */
    }

    .form-group-info-compte input[type="text"],
    .form-group-info-compte input[type="email"],
    .form-group-info-compte input[type="tel"],
    .form-group-info-compte input[type="password"] {
    width: 95%;
    padding: 10px;
    border: none;               /* Remove all borders */
    border-bottom: 1px solid #ccc; /* Only the bottom border */
    border-radius: 0;
    }

    .popup {
        width: 60%;
    }

    .close-btn{
        background-color: black ;
    }
    
    .confirm-btn{
        background-color: black ;
    }

}